[submodule "PlegmaOpenBMS.wiki"]
	path = PlegmaOpenBMS.wiki
	url = https://github.com/ellak-monades-aristeias/PlegmaOpenBMS.wiki.git
[submodule "openhab"]
	path = openhab
	url = https://github.com/ellak-monades-aristeias/PlegmaOpenBMS.git
[submodule "Plegma_openhab"]
	path = Plegma_openhab
	url = https://github.com/PlegmaLabs/openhab.git