#login-container {
  background-image: none;
  background-color: #ffffff;
}
#login-container {
  position: relative;
  width: 90%;
  margin:80px auto;
  text-align: center;
}
#login-container .row > div {
  margin-bottom: 1em;
}
#login-container .row > div:last-child {
  margin-bottom: 0;
}
#login-container #logo {
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: 100;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background-color: #e5412d;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
#login-container #logo:hover {
  background-color: #dd301b;
}
#login-container #signup-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #222222;
  border-color: #1d1d1d;
}
#login-container #signup-btn:hover {
  background-color: #1d1d1d;
  border-color: #181818;
}
#login {
  position: relative;
  padding: 65px 25px 50px 25px;
  margin-bottom: 1em;
  background-color: #FFF;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}
#login #login-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
#login #login-form label {
  display: none;
}
#login #login-form .form-control {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#login #login-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
@media (min-width: 768px) {
  #login-container {
    width: 350px;
  }
  #login-container .row > div {
    margin-bottom: 0;
  }
  #login #login-form {
    padding: 0 25px;
    text-align: left;
  }
}
