<div id="content">

    <div id="content-header">
        <h1>{{title}}</h1>
    </div> <!-- #content-header -->

    <div id="content-container">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <plegma-single-value itemid="Espace_401_Total_Energy"></plegma-single-value>
            </div>
            <div class="col-md-6 col-sm-6">
                <plegma-single-value itemid="Espace_401_SolarTemp1"></plegma-single-value>
            </div>
        </div>

    </div> <!-- /#content-container -->
    <!-- <plegma-webview title="Power" url="http://pleg.no-ip.org:81/pleg/power.html"></plegma-webview> -->
</div>