<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[:%line] - %msg%n%ex{10}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${openhab.logdir:-logs}/openhab.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[:%line]- %msg%n%ex</pattern>
		</encoder>
	</appender>

	<appender name="EVENTFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${openhab.logdir:-logs}/events.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover and archiving -->
			<fileNamePattern>events-%d{yyyy-ww}.log.zip</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<appender name="ZFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${openhab.logdir:-logs}/zwave.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover and archiving -->
			<fileNamePattern>zwave-%d{yyyy-ww}.log.zip</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
		</encoder>
	</appender>
	

	<logger name="runtime.busevents" level="INFO" additivity="false">
		<appender-ref ref="EVENTFILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.openhab.binding.zwave" level="TRACE" >
	<appender-ref ref="ZFILE" />
	<appender-ref ref="EVENTFILE" />
	</logger>

	<logger name="org.openhab" level="WARN" />
	<logger name="OSGi" level="WARN" />
	<logger name="org.eclipse.jetty" level="WARN" />
	<logger name="org.drools.SystemEventListener" level="INFO" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.openhab.persistence.nimbits" level="TRACE" />
	<logger name="org.openhab.binding.http" level="INFO" />
	<logger name="org.openhab.persistence.psql" level="OFF" />
	
	<!-- temporary workaround for https://bugs.eclipse.org/bugs/show_bug.cgi?id=402750 -->
	<logger name="OSGi" level="OFF" />
	
</configuration>
